body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}
.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: sans-serif;
    font-size: 20px;
}